.header {color: #0000aa !important; font-weight: bold; font-size: 20px !important; text-shadow: 1px 1px 1px #999;}

ul.alerts li p.pair {font-weight: normal; color: #444; font-size: 13px;}
ul.alerts li p.pair span {float: right; margin-right: 20px; font-weight: bold; color: black !important;}
ul.alerts li p.content {font-size: 18px; font-weight: normal; color: #222; margin-top: 10px !important;}
.submit {color: white !important; text-align: center; margin: 10px 0px;}

ul.people li p.pair {font-weight: bold; color: black; font-size: 13px;}
ul.people li p.pair span {float: right; margin-right: 20px; font-weight: normal; color: #666 !important;}
ul.people li p {font-weight: normal; font-size: 13px;}
.talhoButton {color: white !important; text-align: center; margin: 10px 5px;}

.contactLabel{
	font: normal 14px Helvetica !important;
}
.contactValue{
	color: #444 !important;
	font: bold 20px Helvetica !important;
}

.severityIcon{
	float: left;
	margin-right: 8px;
}

.ackPreview{
	background: #ffffe8
}

.homelogo{
	background: #ffffff url('../images/home_graphic.png') no-repeat;
}
.homefooter{
	background: #ffffff url('../images/texas_dshs.png') no-repeat;
}

.radioList{
	border: 1px solid #B4B4B4;
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
	margin: 5px;
	padding: 2px;
	color: black;
	font: normal normal bold 17px/normal Helvetica;
	background: -webkit-gradient(linear, left top, left bottom, from(#ebeef1), to(#cfd6e0));
	/*background: url("img/toolbaaar.png") repeat-x scroll 0px 0px*/
}

.radioListSelected{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	border: 1px solid #555555;
}